
<div class = "dashboard-container">

<div class = "welcome-wrapper">
<div class = "welcome">


<h1> Welcome to MedPlus! </h1>
<h4><p1>Healthcare is complicated. Taking your medications shouldn't have to be. </p1></h4>
<!--
<p>MED + intends to make life a little easier for patients and caregivers going through some of the most difficult times of their lives. </p>
</h4> -->
</div>


<div class = "signup">
<h2>Sign Up Today!</h2>
<p> For individuals and caregivers, you can create up to 5 patient profiles! </p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, "E-mail" %><br/>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

   <div class="field">
    <%= f.label :provider, "Are you a healthcare provider?" %>
    <%= f.check_box :provider %>
  </div>

  <div class="action">
    <%= f.submit "SIGN UP", class: 'signup-button'  %>
  </div>
<% end %>
</div>
</div>

<div class = "info-wrapper">
  <table width="900" border="0">
    <tbody>
    <tr class = "table-row">
      <td align="center" class="boxone">
      <p>Create and track your and your loved one's medications, all in one calendar. </p> </td>


      <td align="center" class="boxtwo">

      <p>MedPlus aims to be the most comprehensive, user-friendly, and accessible medicine app designed to promote preventive healthcare services for patients and caregivers.</p></td>

      <td align="center" class="boxthree">
        <p>Search through our FDA approved medications database, and add reminders to your medications! </p></td>

    </tr>
  </tbody>
</table>

</div>

</div>
