<!-- This is a Patient Form Partial With Nested Medications Form and Patient_Medication-->
<div class = "patient-form-wrapper">

  <%= form_for @patient do |f| %>

  <% if @patient.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this profile from being saved:</h2>

    <ul>
      <% @patient.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class = "patient_fields">
    <h3> Add New Patient Profile </h3>

    <%= f.label :name, t(:Fullname) %><br>
    <%= f.text_field :name, value: @patient.name, id: "field" %><br>

    <%= f.label :age, "Age" %><br>
    <%= f.text_field :age, value: @patient.age %><br>

    <%= f.label :gender, "Gender" %><br>
    <%= f.text_field :gender, value: @patient.gender %><br>

    <%= f.label :email, "Email" %><br>
    <%= f.text_field :email, value: @patient.email %><br>

    <%= f.label :phone_number, "Phone Number" %><br>
    <%= f.text_field :phone_number, value: @patient.phone_number %><br>

    <%= f.label :contact, "Emergency Contact" %><br>
    <%= f.text_field :contact, value: @patient.contact %><br>

    <%= f.label :contact_number, "Contact Phone Number"%><br>
    <%= f.text_field :contact_number, value: @patient.contact_number %><br>


      </div>
    </div>

  <!-- <datalist id="browsers">
  <%# @medilexicon.each do |medicine| %>
  <option value = "<%# medicine.content %>"></option>
  <%# end %>
  </datalist> -->
  <script>
  //   $(function() {
  //     $(".filter").on('keyup', function() {
  //       input = $(this).val().toLowerCase();
  //       $(".scrollbox").children(".medication-item").each(function() {
  //         if( $(this).text().toLowerCase().search(input) ) {
  //           $(this).show();
  //         } else {
  //           $(this).hide();
  //         }
  //       })
  //     });
  //   });
  </script>

  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
