<!-- This is a Patient Form Partial With Nested Medications Form and Patient_Medication-->

<%= form_for @patient do |f| %>

<% if @patient.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this profile from being saved:</h2>

  <ul>
    <% @patient.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class = "patient_fields">

  <%= f.label :name, "Full Name" %><br>
  <%= f.text_field :name, value: @patient.name, id: "field" %><br>

  <%= f.label :age, "Age" %><br>
  <%= f.text_field :age, value: @patient.age %><br>

  <%= f.label :gender, "Gender" %><br>
  <%= f.text_field :gender, value: @patient.gender %><br>

  <%= f.label :email, "Email" %><br>
  <%= f.text_field :email, value: @patient.email %><br>

  <%= f.label :phone_number, "Phone Number" %><br>
  <%= f.text_field :phone_number, value: @patient.phone_number %><br>

  <%= f.label :contact, "Contact Name and Their Relationship to Patient:" %><br>
  <%= f.text_field :contact, value: @patient.contact %><br>

  <%= f.label :contact_number, "Contact Phone Number"%><br>
  <%= f.text_field :contact_number, value: @patient.contact_number %><br>


    <%= f.fields_for :medications do |ff| %>
  <div>
    <%= ff.label :name, "Medication Name:" %><br>
    <%= ff.text_field :name %><br>
  </div>
  <div>
    <%= ff.label :description, "Medication Description" %><br>
    <%= ff.text_field :description %><br>
  </div>
  <% end %>

 <%= f.fields_for :patient_medications do |ff| %>
  <div>
    <%= ff.label :count %><br>
    <%= ff.text_field :count %><br>
  </div>
  <div>
    <%= ff.label :dose %><br>
    <%= ff.text_field :dose %><br>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

</div>
<% end %>
