<!-- This is a Patient Form Partial With Nested Medications Form and Patient_Medication-->
<div class = "patient-form-wrapper">

  <%= form_for @patient do |f| %>

  <% if @patient.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this profile from being saved:</h2>

    <ul>
      <% @patient.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class = "patient_fields">
    <p5><em>* = Required fields.</em> <br>
      <br>To edit, type your changes and submit. All changes are automatically saved.</p5> <br>

      <br><%= f.label :name, t(:fullname) %><br>
      <%= f.text_field :name, value: @patient.name, id: "patient-form-fields" %><br>

      <%= f.label :age, t(:age) %><br>
      <%= f.text_field :age, value: @patient.age, id: "patient-form-fields" %><br>

      <%= f.label :gender, t(:gender) %><br>
      <%= f.text_field :gender, value: @patient.gender, id: "patient-form-fields" %><br>

      <%= f.label :email, t(:email) %><br>
      <%= f.text_field :email, value: @patient.email, id: "patient-form-fields" %><br>

      <%= f.label :phone_number, t(:phonenumber) %><br>
      <%= f.text_field :phone_number, value: @patient.phone_number, id: "patient-form-fields" %><br>

      <%= f.label :contact, t(:emergencycontactname) %><br>
      <%= f.text_field :contact, value: @patient.contact, id: "patient-form-fields" %><br>

      <%= f.label :contact_number, t(:emergencycontactnumber) %><br>
      <%= f.text_field :contact_number, value: @patient.contact_number, id: "patient-form-fields" %><br>

  </div>
  <div class="actions">
    <br><%= f.submit t(:createpatient), class: 'signup-button' %>
  </div>
</div>
<% end %>
