<!-- MANAGE PATIENTS. LISTS OUT ALL PATIENTS. -->

    <div class = "sidebar">
      <ul>

          <li><%=image_tag "plusicon.png", id: "sidebar-image"%> <%= link_to t(:managepatients), '/patients' %></li>
          <li><%= image_tag "adduser.png", id: "sidebar-image" %> <%= link_to t(:addapatient), new_patient_path %></li>
          <li><%= image_tag "medicine.png", id: "sidebar-image" %> <%= link_to t(:addmedication), new_patient_medication_path %></li>
          <!-- collection of patients in a scroll down bar -->
      </ul>
    </div>

    <!-- Sidebar Ends-->



<div class = "patient-list">

<h4><% if @patients.size == 0 %>
<em> No patients found. <%= link_to "Add a new patient here", new_patient_path %>. </em>
<% end %></h4>
<h2> List of patients </h2>
<table>
    <tbody>

    <% @patients.each do |patient| %>
    <tr>
        <td><div class = "patient-list-name"> <%= patient.name %> </div></td>
        <td><div class = "patient-list-info"><%= patient.age %>,</td>
        <td> <%= patient.gender %></td></div>
        <td><%= link_to 'Show', patient_path(patient) %></td>
        <td><%= link_to 'Delete', patient_path(patient), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>

</tbody>
</table>
</div>



