<p id= "notice"> <%= notice %> </p>


<div class = "patient">

    <h4> <%= @patient.name%>'s Profile </h4> <!-- ex. Alaa's Profile -->

    <%= render 'form' %>

    <h4> Medications </h4>
    <%= link_to 'Add a Medication to Patient.', 'path'%> <!-- Forms below are collapsable. -->
<ol>
    <% @patient.medications.all.each do |med| %>
    <li> <%= med.name %> </li>
    <% end %>

</ol>

    <!-- Patient Medication Form in layouts/_patient_medication -->